@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

@-ms-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  scroll-snap-type: y mandatory;
  background-image: url("../images/graphics/hackhersbg-desktop.png");
  background-size: cover;
  max-width: 100%;
  cursor: url("../images/graphics/magic-wand.png"), pointer;
}

/*styling navbar*/

.navbar {
  font-family: "Quicksand", sans-serif;
  border-radius: 0;
  height: 80px;
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
}

.navbar li a {
  font-size: 24px;
  margin: 0;
  line-height: 24px;
  color: white;
  margin: 4px;
}
.navbar li a:hover {
  color: #9bbdee;
}
.nav-pills .nav-link.active {
  background: none;
  color: #9bbdee;
}

/* have to fix this part  */
@media screen and (max-width: 575px) {
  /* .navbar {
    padding: 0;
    min-height: 60px;
  } */
}
@media (min-width: 500px) and (max-width: 956px) {
  /* .navbar-toggler {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color:  #450a74;
    background-image: none;
    border: 3px solid #213355;
    border-radius: 4px
  }

  .navbar-toggler:hover {
    background-color:  #450a74;
    color: black;
    transition: all .3s ease-in-out;
  } */
}
@media (min-width: 320px) and (max-width: 499px) {
  /* .navbar-toggler {
    margin-top: 20px;
    background-color: #213355;
    border: 3px solid #213355;
    border-radius: 4px
  }

  .navbar-toggler:hover {
    background-color: #450a74 ;
    color: #f9f9f9;
    transition: all .3s ease-in-out;
  } */
}

/* Media Query for Tablets Ipads portrait mode, desktop */
@media (min-width: 768px) {
  #header {
    padding: 5vw;
  }
}

/* MAIN section */
#main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand", sans-serif;
}

.section {
  font-size: 1.5em;
}

.section-title {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: #c8d5ed;
  font-weight: 800;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 5px rgba(255, 255, 255, 0.2), 0 0 8px rgba(255, 255, 255, 0.2); /* Subtle white glow */
}

/* TITLE section */

.section#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* Align content to the right horizontally */
  width: 100%; /* Full width */
  height: 120vh;
}

#title-name {
  font-family: "Mountains of Christmas", sans-serif;
  font-size: 130px;
  font-weight: bold;
  color: #c8d5ed;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 5px rgba(255, 255, 255, 0.4), 0 0 8px rgba(255, 255, 255, 0.4); /* Subtle white glow */
  margin: 0;
  align-items: flex-end;
}
.dino-fairy {
  float: left;
}
#title-date {
  font-size: 35px;
  color: #9bbdee;
  margin: 0;
  font-weight: 600;
}

#title-location {
  font-size: 20px;
  color: white;
  margin: 0;
  color: #c8d5ed;
  font-weight: 200;
  margin-top: 10px;
}

#title-register {
  background-color: rgba(187, 123, 207, 0.8);
  border-radius: 10px;
  margin-top: 10px;
  color: white;
}
#title-register:hover {
  background-color: #8063a1;
  color: #ffc8ea;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

#title-register:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* ABOUT section */

.section#about {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 130vh;
  margin-left: auto;
  margin-right: 0;
}

#about {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

#about h1 {
  text-align: right;
}

#about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
}

#since-2015 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #bb7bcf;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.stats-column h2 {
  font-size: 45px;
  color: #9bbdee;
  font-weight: 700;
}

.stats-column p {
  font-size: 30px;
  color: white;
}

/* floating diano */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.diano-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.floating-image {
  overflow: hidden;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.content {
  box-sizing: border-box;
  text-align: center;
}

/* TRACKS section */

.section#tracks {
  height: 100vh;
}

/* SCHEDULE section */

.section#schedule {
  height: 100vh;
  text-align: center;
}

/* social media links*/

.list-inline {
  padding-left: 0;
  list-style: none;
  margin: -5px;
  display: block;
  text-align: center;
  height: 80px;
  overflow: hidden;
}

.list-inline a {
  padding-left: 10px;
  padding-top: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

list-inline > li {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

/* FAQ section */
.section#faq {
  height: 155vh;
}

#faq {
  text-align: left;
}

#faq h1 {
  text-align: center;
}

#faq h4 {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
}

#faq a {
  font-weight: bold;
  color: white;
}

#faq-content {
  display: flex; /* Use flexbox for layout */
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto;
}

.faq {
  list-style: none;
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
}

.faq-column {
  flex: 1;
  padding: 10px;
}

/* Same styles for questions and answers in both columns */
.faq .question:after {
  content: "\002B"; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: white;
  float: right;
  font-weight: bold;
}

.faq .active .question:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  color: white;
}

.faq .question {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
}

.faq .question:hover {
  font-weight: 600;
}

.faq .active .question {
  font-weight: 600;
}

.faq .answer {
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  color: #c8d5ed;
}

.faq li.active .answer {
  max-height: 275px;
  padding-bottom: 25px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

/* SPONSORS */

.section#sponsors {
  height: 130vh;
  text-align: center;
}

/*team styling - need to fix*/

#team {
  height: 350vh;
  text-align: center;
}

#team .row {
  margin-top: 30px;
  width: 100%;
}

#team .section-title {
  text-align: center;
}

.team-wrapper {
  width: 300px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
}

.team .team-wrapper .lead {
  padding: 1rem;
  position: absolute;
  background-color: transparent;
  left: 4px;
  right: 4px;
  top: 0;
  text-align: center;
}

#team h4,
#team h6 {
  color: white;
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
}
#team h6 {
  font-size: 18px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
}
#team h4 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 400;
  color: #b6bde0;
  padding-top: 12px;
}

#team .team-wrapper img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

/* map */

iframe {
  display: block;
  margin: 0 auto;
  border: 0;
  max-width: 80%;
  height: 300px;
}

/*footer*/

#footer {
  position: relative;
  width: 100%;
  background-color: #0f102f;
  padding: 30px;
  overflow: hidden;
  padding-left: 20px;
  font-family: "Quicksand", sans-serif;
}

#footer p {
  margin: 0;
}

.footer-left {
  float: left;
  width: 25%;
}

.made-with {
  text-align: center;
  width: 75%;
  color: white;
}

#footer .made-with p {
  font-weight: 300;
  font-size: 12px;
}

.footer-logo {
  width: 80px;
  overflow: hidden;
}

.footer-img {
  width: 100%;
}

.social-icons a {
  text-align: left;
  width: 200px;
  margin-right: 0;
  color: white;
}

/* adjustments for diff viewport sizes */
@media (max-width: 1025px) {
  #header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #header-right img {
    padding-top: 10px;
    width: 70vw;
    align-self: flex-end;
  }

  #info-cards {
    display: none;
  }

  #faq-content {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    flex-direction: column;
  }
  #faq-right {
    padding-top: 100px;
  }

  #faq-content ul {
    margin-bottom: -11vh;
  }

  #sponsor-logos {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .sponsor-tier {
    padding: 2vh;
  }

  .sponsor-tier img {
    padding: 5px;
  }

  .tier3 img {
    height: 5vh;
  }

  #honey {
    height: 7vh;
  }

  #pimco {
    width: 5vw;
  }

  .tier4 img {
    max-height: 15vh;
    max-width: 20vw;
  }

  .tier5 img {
    max-width: 15vw;
  }

  #sponsors {
    font-size: 1em;
    padding: 10px;
  }

  #social_media .section-title {
    font-size: 1.5em;
  }

  #organizers .person {
    width: 33%;
  }

  .profile-img {
    opacity: 0.9;
    width: 75%;
    padding: 20px;
  }

  #organizers {
    font-size: 18px;
  }

  #organizers .team-name {
    font-size: 14px;
    font-weight: 300;
    color: white;
    opacity: 0.9;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #logo {
    width: 300px;
    height: 250px;
  }

  #header {
    padding-bottom: 50px;
  }

  #header-right img {
    padding-top: 10px;
    width: 55vw;
    align-self: flex-end;
  }

  #about {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #faq {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #faq-right {
    padding-top: 100px;
  }

  #sponsors {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-title {
    font-size: 35px;
  }

  #organizers .person {
    width: 100%;
  }

  .profile-img {
    opacity: 0.9;
    width: 60%;
    padding: 20px;
  }

  #organizers {
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  #organizers .team-name {
    font-size: 16px;
    font-weight: 300;
    color: white;
    opacity: 0.9;
    padding-bottom: 20px;
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  body {
    background-image: url("../images/graphics/hackhers-mobile-morespace.png");
  }
  #team .team-wrapper {
    width: 100%;
  }

  #logo {
    width: 400px;
    height: 200px;
    margin-top: 10vh;
  }

  #hack-date {
    font-size: 12px;
  }

  #filler-3 {
    display: none;
  }

  #app_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
  }

  #header-below h4 {
    font-size: 15px;
  }

  #header-below h1 {
    font-size: 40px;
  }

  .section#about p {
    font-size: 12px;
  }

  .section#faq h3,
  .answer {
    font-size: 12px;
  }

  .section#sponsors .sponsor-thanks h4 {
    font-size: 15px;
  }
}
@media (min-width: 500px) and (max-width: 956px) {
  #filler-1,
  #filler-2,
  #filler-3 {
    display: none;
  }
  #team {
    padding: 0;
    text-align: center;
  }

  #team .row {
    padding: 0;
    text-align: center;
  }

  #logo {
    width: 80vw;
    height: 40vh;
    margin-top: 10vh;
  }
}
