@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@-ms-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}


html {
  scroll-behavior: smooth;
  
}
* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  

}

body {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  scroll-snap-type: y mandatory;
  background-image: url('../images/graphics/2025background.png');
  background-size: cover;
  max-width: 100%;
  cursor: url('../images/graphics/magic-wand.png'), pointer; 
}


/*styling navbar*/

.navbar{
  font-family:  'Quicksand', sans-serif;
  border-radius: 0;
  height: 80px;
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
  
}

.navbar li a {
  font-size: 24px;
  margin: 0;
  line-height: 24px;
  color: white;
  margin: 4px;
}
.navbar li a:hover {
  color: #9BBDEE;
}
.nav-pills .nav-link.active {
  background: none;
  color: #9BBDEE;
  
}


/* !*styling navbar link position*! */
/* .navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f9f9f9;
}

.navbar-nav > li > a:hover {
  background-color: transparent;
  color: #a3dce9;
  transition: all .3s ease-in-out;
} */

/* !*to keep half of navbar links to left and the other half right*! */

/* #navbar-left{
  float: left;
}
#navbar-right{
  float: right;
} */

/* .navbar .navbar-collapse {
  text-align: center;
} */

/* .nav .navbar-nav{
  background-color: #f9f9f9;
  color: #0b0045;
} */


/*navigation bar styling */

/* .navbarMenu{
  border-radius: 0;
  height: 80px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: lowercase;
  display: none;
  text-align: center;
  padding: 0 7rem 0 8rem;
  margin: 0 auto;

} */


/* .navbar {
  padding: 16px 16px 8px 16px;

} */
/* .navbar-bg {
  background-color: #242230;
}
.navbar-toggler {
  margin: 0;
  padding: .25rem;

} */
/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}
.navbar-brand {
  position: absolute;
  right: 0px;
  top: 12px;
} */
/* .navbar-nav {
  margin: 0;
} */
/* .navbar-nav .nav-link {
  border-radius: 0;
  text-align: center;
} */

@media screen and (max-width: 575px) {
  .navbar {
    padding: 0;
    min-height: 60px;
  }
}
@media (min-width: 500px) and (max-width: 956px) {

  .navbar-toggler {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color:  #450a74;
    background-image: none;
    border: 3px solid #213355;
    border-radius: 4px
  }

  .navbar-toggler:hover {
    background-color:  #450a74;
    color: black;
    transition: all .3s ease-in-out;
  }

}
@media (min-width: 320px) and (max-width: 499px) {
  .navbar-toggler {
    margin-top: 20px;
    background-color: #213355;
    border: 3px solid #213355;
    border-radius: 4px
  }

  .navbar-toggler:hover {
    background-color: #450a74 ;
    color: #f9f9f9;
    transition: all .3s ease-in-out;
  }

}


  /* Media Query for Tablets Ipads portrait mode, desktop */
@media (min-width: 768px) {
  #header {
    padding: 5vw;
    
  }
}

/* #header {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20vh;
  margin-bottom: 30vh;
}

#logo {
  height: 40vh;
  width: 83vh;
}

#header-above {
  text-align: center;
} */

/* #header-above button {
  border-radius: 5px;
  margin: 3px 0px;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
}

#header-above a {
  text-decoration: none;

}

#header-below{
  text-align: center;
  background-color: rgba(4, 42, 40, 0.8);
  padding: 30px;
  width: 80%;
  margin: auto;
  border-radius: 50px;
  margin-top: 20vh;
  color: white;
}

#header-below h4{
  color: #FFF5B5;
} */

/* #app_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#app_buttons a{
  color: black;
}

.register {
  margin-top: 30px;
}

#register_button {
  background-color: transparent;
  border: none; /* Remove button border 
  padding: 0; 
  pointer-events: auto;
}

#register_button img {
  width: 160px;
  height: 160px;
}

#register_button a {
  display: block; /* Make the link a block element to cover the entire button 
  color: #0C5241;
  font-weight: bold;
} */






/* #header-right img {
  width: 35vw;
} */

/* #coming_soon {
  color: white;
  font-size: 16px;
  margin-top: 10px;
} */

/* #header-right h2 {
  margin-top: 10px;
  font-size: 2em;
  color: #0C5241;
  margin-right: 10em;
  margin-left: 10em;
  overflow: hidden;


} */

/* #countdown {
  display: flex; 
   justify-content: flex-end;
  font-size: 40px;

}

#clockdiv {
  padding-top: 10px;
  display: flex;
  justify-content: row;
  color: #FFF5B5;
}

.timer {
  font-size: 50px;
  display: flex; 
  justify-content: center; 
  
} */



/* MAIN section */
#main{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Quicksand', sans-serif;


}

.section {
  font-size: 1.5em;
}

.section-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #C8D5ED;
  font-weight: 800;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 5px rgba(255, 255, 255, 0.2), 0 0 8px rgba(255, 255, 255, 0.2); /* Subtle white glow */
}

/* TITLE section */

.section#title {
  display: flex;
  flex-direction: column;  /* Stack child elements vertically */
  justify-content: center;  /* Vertically center content */
  align-items: flex-end;  /* Align content to the right horizontally */
  width: 100%;  /* Full width */
  height: 120vh; /* Full viewport height */
}

#title-name {
  font-family: 'Mountains of Christmas', sans-serif;
  font-size: 130px;
  font-weight: bold;
  color: #C8D5ED;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 5px rgba(255, 255, 255, 0.4), 0 0 8px rgba(255, 255, 255, 0.4); /* Subtle white glow */
  margin: 0; /* Remove default margins */
  align-items: flex-end;
}
.dino-fairy{
  float: left;
}
#title-date {
  font-size: 35px;
  color: #9BBDEE;
  margin: 0; /* Remove default margins */
  font-weight: 600;
}

#title-location {
  font-size: 20px;
  color: white;
  margin: 0; 
  color: #C8D5ED;
  font-weight: 200;
  margin-top: 10px;
}

#title-register{
  background-color: rgba(187, 123, 207, 0.8);
  border-radius: 10px;
  margin-top: 10px;
  color: white;
}
#title-register:hover {
  background-color: #8063a1; /* Darker purple on hover */
  color: #ffc8ea; /* Change text color on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

#title-register:active {
  transform: translateY(0); /* Remove lift effect when clicked */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Slightly reduce shadow */
}

.diano{
  float: left;
}
/* ABOUT section */

.section#about {
  display: flex;
  justify-content: center;  /* Vertically center content */
  align-items: flex-end;  /* Align content to the right horizontally */
  width: 50%;  /* Full width */
  height: 130vh;  /* Full viewport height */
  margin-left: auto;  /* Push the section to the right */
  margin-right: 0;  /* Remove right margin */
}

#about {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  /* Align everything inside to the right */
  text-align: right;  /* Right align text */
}

#about h1 {
  text-align: right;  /* Ensure the title is right-aligned */
}

#about-info {
  display: flex;
  flex-direction: column;  /* Stack child elements vertically */
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 300;
  text-align: right;  /* Ensure text in #about-info is right-aligned */
}

#since-2015 {
  font-size: 30px; /* Size for the number */
  font-weight: 600; /* Make the number bold */
  margin-bottom: 10px; /* Space below the number */
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #BB7BCF;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}



.stats-container {
  display: flex; /* Create a flex container */
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes up the full width */
  max-width: 1200px; /* Optional: Set a max width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Optional: Padding for spacing */
  text-align: center;
}

.stats-column h2 {
  font-size: 45px; /* Size for the text */
  color: #9BBDEE; /* Optional: Lighter color for the text */
  font-weight: 700;
}

.stats-column p {
  font-size: 30px; /* Size for the text */
  color: white; /* Optional: Lighter color for the text */
}

/* floating diano */


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.diano-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
}

.floating-image {
	overflow: hidden;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.content {
	box-sizing: border-box;
	text-align: center;
}



/* TRACKS section */

.section#tracks{
  height: 100vh;
}

.section#schedule{
  height: 100vh;
  text-align: center;
}



/* social media links*/

.list-inline {
  padding-left: 0;
  list-style: none;
  margin: -5px;
  display: block;
  text-align: center;
  height: 80px;
  overflow: hidden;
}

.list-inline a{
  padding-left: 10px;
  padding-top: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

list-inline > li {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}


#schedule .btn {
  padding: 20px;
  margin: 20px;
  background-color:#8191C7;
  border: 3px  #8191C7;
  opacity: .95;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 2px 2px  #090909;
  font-weight: bold;
  color: black;
}

#schedule .btn:hover{
  background-color: black;
  border-color: black;
  color: black;
  transition: all .3s ease-in-out;
}

#saturday, #sunday{
  font-size: 24px;
  color: black;
  margin-bottom: 50px 0;
}

.schedule{
  text-align: center;
  margin: 25px auto;
  width: 100%;
  font-size: 18px;
  color: black;


}

.times{
  display: inline-block;
}

.events{
  display: inline-block;
}

#change{
  padding-left: 300px;
}

.times li{
  list-style-type: none;
  text-align: left;
  display: block;
}

.events li{
  color: #E6D2FF;
  margin-left: 5px;
  list-style-type: none;
  text-align: left;
  display: block;
}

/* FAQ section */
.section#faq {
  height: 155vh;
}

#faq {
  text-align: left;

}

#faq h1{
  text-align: center;
}

#faq a {
  font-weight: bold;
  color: white;
}

#faq-content {
  display: flex; /* Use flexbox for layout */
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto;

}

.faq {
  list-style: none;
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
}

.faq-column {
  flex: 1;
  padding: 10px;
}

/* Same styles for questions and answers in both columns */
.faq .question:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: white;
  float: right;
  font-weight: bold;
}

.faq .active .question:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  color: white;
}

.faq .question {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(255,255,255,0.25);
  border-radius: 10px;
  padding: 10px;

}

.faq .question:hover {
  font-weight: 600;
}

.faq .active .question {
  font-weight: 600;
}

.faq .answer {
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  color: #C8D5ED;
}

.faq li.active .answer {
  max-height: 275px;
  padding-bottom: 25px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  /*color: #FEFFC4;*/
}


/* SPONSORS */

.section#sponsors{
  height: 130vh;
  text-align: center;

}

/* #sponsors {
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color:rgba(4, 42, 40, 0.8);
  align-self: center;
  font-weight: 300;
  font-size: 16px;
}

#sponsors a {
  font-weight: bold;
  color: #a38bbf;
}

#sponsor-logos {
  background-color: white;
  display: flex;
  padding: 30px 100px;
  border-radius: 20px;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  opacity: 0.9;
  margin-bottom: 40px;
} */


.purple-rect {
  align-self: center;
  height: 5px;
  background: rgba(177, 156, 217, 0.5);
  width: 100%;
}





/* organizers

#organizers{
  background-color: #3e4363;
  padding-bottom: 30px;
}
#organizers .section-title{
  color: #53e5eb;
}

/*#organizers h3{
  text-align: left;
  margin-bottom: 0;
  padding-left: 25px;
  padding-top: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}*/

/* #organizers p{
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 0;
  font-weight: 400;
  color: #b6bde0;
}

.profile-img{
  opacity: 0.9;
  width: 100%;
  padding: 20px;
  border-radius: 50%;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  padding-top: 30px; 
}

#organizers .team-name{
  font-size: 18px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
  font-family: 'Open-Sans', sans-serif;
}

.person{
  width: 20%;
  padding-bottom: 22px;

} */

/*team styling*/


#team{
  height: 350vh;
  text-align: center;
}

#team .row{
  margin-top: 30px;
  width: 100%;
}

#team .section-title{
  text-align: center;
}

.team-wrapper{
  width: 300px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align:center;
}

.team .team-wrapper .lead{
  padding: 1rem;
  position: absolute;
  background-color: transparent;
  left: 4px;
  right: 4px;
  top: 0;
  text-align:center;
}

#team h4, #team h6{
  color: white;
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
}
#team h6{
  font-size: 18px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
}
#team h4{
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 400;
  color: #b6bde0;
  padding-top: 12px;
}

#team .team-wrapper img{
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
/* map */

iframe {
  display: block; /* Treat iframe as a block element */
  margin: 0 auto; /* Center it horizontally */
  border: 0; /* Remove border */
  max-width: 80%; /* Limit the width to 80% of the parent container */
  height: 300px; /* Set a fixed height */
}

/*footer*/

#footer {
  position: relative;
  width: 100%;
  background-color: #0F102F;
  padding: 15px;
  overflow: hidden;
  padding-left: 20px;
}

#footer p {
  margin: 0;
}

.footer-left {
  float: left;
  width: 25%;
}

.made-with {
  text-align: center;
  width: 75%;
  color: white;
}

#footer .made-with p {
  font-weight: 300;
  font-size: 12px;
}

.footer-logo {
  width: 80px;
  overflow: hidden;
}

.footer-img {
  width: 100%;
}


.social-icons a{
  text-align: left;
  width: 200px; margin-right: 0;
  color: white;
}


@media (max-width: 1025px) {
  #header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  #header-right img {
    padding-top: 10px;
    width: 70vw;
    align-self: flex-end;
  }


  #info-cards {
    display: none;
  }

  #faq-content {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    flex-direction: column;
  }
  #faq-right{
    padding-top: 100px;
  }

  #faq-content ul {
    margin-bottom: -11vh;
  }

  #sponsor-logos {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .sponsor-tier {
    padding: 2vh;
  }

  .sponsor-tier img {
    padding: 5px;
  }

  .tier3 img {
    height: 5vh;
  }

  #honey {
    height: 7vh;
  }

  #pimco {
    width: 5vw;
  }

  .tier4 img {
    max-height: 15vh;
    max-width: 20vw;
  }

  .tier5 img {
    max-width: 15vw;
  }

  #sponsors {
    font-size: 1em;
    padding: 10px;
  }

  #social_media .section-title {
    font-size: 1.5em;
  }

   #organizers .person{
    width: 33%;
  }

  .profile-img{
  opacity: 0.9;
  width: 75%;
  padding: 20px;
 }

 #organizers{
  font-size: 18px;
}

 #organizers .team-name{
  font-size: 14px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
  padding-bottom: 15px;
  }

}

@media (max-width: 767px) {


  #logo{
    width: 300px;
    height: 250px;
  }

  #header{
    padding-bottom: 50px;
  }

  #header-right img {
    padding-top: 10px;
    width: 55vw;
    align-self: flex-end;
  }

  #about{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #faq{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #faq-right{
    padding-top: 100px;
  }

   #sponsors{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-title {
    font-size: 35px;
  }

  #organizers .person{
    width: 100%;
  }

  .profile-img{
  opacity: 0.9;
  width: 60%;
  padding: 20px;
 }

 #organizers{
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 20px;
}

 #organizers .team-name{
  font-size: 16px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
  padding-bottom: 20px;
}
}

@media (min-width: 300px) and (max-width: 499px) {
#team .team-wrapper {
    width: 100%;
}

#logo{
  width: 400px;
  height: 200px;
  margin-top: 10vh;
}

#hack-date {
  font-size: 12px;
}

#filler-3 {
  display: none;
}

#app_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw; 
}

#header-below h4{
  font-size: 15px;
}

#header-below h1{
  font-size: 40px;
}

.section#about p{
  font-size: 12px;
}

.section#faq h3,
.answer {
  font-size: 12px;
}

.section#sponsors .sponsor-thanks h4{
  font-size: 15px;
}


}
@media (min-width: 500px) and (max-width: 956px) {
  #filler-1, #filler-2, #filler-3 {
    display: none;
  }
  #team {
    padding: 0;
    text-align:center;
  }

  #team .row{
    padding: 0;
    text-align:center;
  }

  #logo{
    width: 80vw;
    height: 40vh;
    margin-top: 10vh;
  }

}


